<div *ngIf="loading">waiting for data ...</div>

<div *ngIf="!loading">
    <div>
        <button (click)="reloadData()">Reload</button>
    </div>
    <table *ngIf="cardsTable" class="table">
        <thead class="thead-inverse">
        <tr>
            <th *ngFor="let item of cardsTable.head">
                {{ item }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of cardsTable.data">
            <td *ngFor="let attr of cardAttrs">
                {{ card[attr] | slice:0:20 }}
            </td>
        </tr>
        </tbody>
    </table>


</div>